<h1>{{title}}</h1>
3 реализации системы mustache в JS:

<ul>
  <li><a href="https://github.com/janl/mustache.js">mustache-js</a></li>
  <li><a href="http://handlebarsjs.com" />handlebars-js</a></li>
  <li><a href="http://twitter.github.io/hogan.js/">hogan-js</a></li>
</ul>

помимо JS есть библиотеки для:
<div>
Ruby, JavaScript, Python, Erlang, node.js, PHP, Perl, Perl6, Objective-C, Java, .NET, Android, C++, Go, Lua, ooc, ActionScript, ColdFusion, Scala, Clojure, Fantom, CoffeeScript, D, Haskell, XQuery, ASP, Io, Dart, Haxe, и даже для Delphi, йопт
</div>

<br />
В веб-доступе мы используем .NET реализацию - <b>Nustache</b>
<div class="slideNum">Слайд №{{num}}</div>