<h1>{{title}}</h1>
<ul>
<li>Прекрасно ложится на <b>MVC</b>(и прочие того же класса) архитектуру, разделяя логику от представления.</li>
<li>Возможность динамического создания HTML</li>
<li>Сложные проекты, с насыщенной клиентской стороной могут быть трудоемкими в разработке без использования шаблонов.</li>
<li>Увеличения скорости разработки и простоты изменения представления в дальнейшем.</li>
<li>Хорошо документирован</li>
<li>Может быть использован для управления не только HTML шаблонами</li>
<li>Mustache поддерживает большое количество языков</li>
<li>Решение для клиентской и серверной стороны одновременно</li>
<li>Экранирование данных</li>
</ul>

<div class="slideNum">Слайд №{{num}}</div>